{{> head }}
    {{> navBar }}


    <div class="row">
        <div class="col-8">
            <h1>Un texto Bonito :V</h1>
        </div>
        <div class="col-4">
            <img src="assets/img/polo.jpg" class="img-thumbnail">
        </div>

    </div>

  {{> footer }}